.sass-cache/
*.css.map

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore node modules.
/node_modules/*

# dotenv
/.env*
!/.env.development.sample
