html, body
  height: 100%
  margin: 0
  padding: 0

#map
  height: 100%

.session-details
  width: 400px

.session-details h1
  font-size: 22px
  margin: 8px 0 8px 0

.session-details--profile-picture > img
  width: 30px
  height: 30px
  float: left
  margin-right: 10px
  border-radius: 15px
  -webkit-border-radius: 15px
  -moz-border-radius: 15px

.session-details--meta
  position: relative

.session-details--location
  position: absolute
  right: 0
  bottom: 0

.session-details--picture
  margin-bottom: 10px

.session-details--picture > img
  width: 100%

.session-details--stats
  margin-bottom: 10px

.session-details--stat
  width: 132px
  text-align: center
  display: table-cell

.session-details--stat-figure
  font-size: 14px
